<div class="error">
	<h1>Oh know something went wrong!</h1>
	<h2>You passwords do not match</h2>
	<a href="/" class="btn btn-primary error">Back</a>
</div>
<div style="max-width: 500px;" id="_giphy_vpUbmR24hx6mc"></div><script>var _giphy = _giphy || []; _giphy.push({id: "vpUbmR24hx6mc",w: 319, h: 241});var g = document.createElement("script"); g.type = "text/javascript"; g.async = true;g.src = ("https:" == document.location.protocol ? "https://" : "http://") + "giphy.com/static/js/widgets/embed.js";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);</script>