<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="title navbar-brand " href="#">Welcome to Java-Expresso</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-right">
			<li class="active"><a href="#">Favorites</a></li>
			
		</ul>
		<form method="GET" action="/coffee" class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" name="location" class="form-control" placeholder="Search for location">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		
	</div><!-- /.navbar-collapse -->
</nav>

<div class="coffee">
	<img class="coffee-img" src="images/coffeeImg.jpeg"/>
</div>
<!-- <form method="GET" action="/coffee">
<input type="text" name="location" placeholder="location"></input>
<input type="submit" class="btn btn-primary">Submit</input>
</form> -->




