<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button> -->
		<a class="title navbar-brand " href="#">Java-Expresso</a>
	</div>
	<div class="button myBtn">
		<form method="GET" action="/signup" class="navbar-right">
			<button type="submit" action="/signup" class="btn myBtn crossRotate btn-primary sign-up">Sign-Up</button>
		</form>
	</div>
			
	
	<!-- Collect the nav links, forms, and other content for toggling -->
	
</nav>
	

	<form method="POST" action="/users" class="navbar-form navbar-left" role="search">
	
		<input name="email" placeholder="Email"></input>
		<input type="password" name="password" placeholder="Password"></input>
		<button type="submit" class="btn btn-default">Login</button>

	</form>

<div class="coffee">
	<img class="coffee-img" src="images/coffeeImg.jpeg"/>
</div>





