
<div class="container">
	<div class="mission">
		<h1  class="perfectCoffee mission-text">Find The Perfect Coffee!</h1>
		<h2 class="mission-text">Let Java-Expresso find a coffee shop for you.</h2>
		 <h2 class="trademark">Happiness is only a cup away.&trade;<h2>
	</div>

<div class="searchContainer">
	<form id="searchLocation" method="GET" action="/coffee" class="searchContainer" role="search">
		<input type="hidden" id="demo" name="ll"></input>
		<button type="submit" id="search" class="col-lg-3 col-md-4 col-sm-4 col-xs-4 searchBox btn btn-default">Click HERE</button>
	</form>
</div>

<!-- <div class="searchForm">
	<form method="GET" action="/coffee" class="searchBox" role="search">
		<div class="form-group">
			<input type="text" class="searchLocation form-control" name="cll" placeholder="Location: ex: city,state,neighborhood or zip">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div> -->
	<!-- <div class="login">
		<form method="POST" action="/users" class="login-form " role="search">
		
			<input class="input" name="email" placeholder="Email"></input>
			<input class="input" type="password" name="password" placeholder="Password"></input>
			<button type="submit" class="login-btn btn btn-default crossRotate">Login</button>

		</form>
	</div>
 -->
	<!-- <div class="coffee">
		<img class="coffee-img" src="../images/coffeeCup2.jpeg"/>
	</div>
 -->

</div>






