

<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<a class="navbar-brand" href="#">Login</a>
	</div>
</nav>

<div class="well">
	<form action="users" method="POST">
		<input name="email" placeholder="email"></input>
		<input name="password" placeholder="password"></input>
		<button type="submit" class="btn btn-primary crossRotate">Log-in</button>
	</form>
</div>

