<div class="container">
	<div class="mission">
		<h2 class="mission-text-line-two">Please Log-in or <span><a href="/signup">Sign-up</a> </span></h2> 
	</div>

	<div class="login">
		<form method="POST" action="/users" class="login-form " role="search">
			<div class="loginInfo">
				<input class="input" name="email" placeholder="Email"></input>
				<input class="input" type="password" name="password" placeholder="Password"></input>
			</div>
			<button type="submit" class="login-btn btn btn-default crossRotate">Login</button>

		</form>
	</div>
</div>
