<nav class="navbar navbar-default" role="navigation">

	<a class="titleMap navbar-brand " href="/">Java-Expresso</a>
	<a href="/favorites" class="homeBTN crossRotate">Favorites</a>
</nav>

<h1 class="mapTitle">Map to <%= favorite.name %> </h1>

<div class="row">
  <div class="col-sm-12">
    <div id="map"></div>
  </div>
</div>

<script>
    var marker = <%- JSON.stringify(favorite) %>;
</script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHAgZlw_Ju2QuBNf90fsdYxQKRIyUyxH4&callback=initMap">
  </script>
<script src="/js/script.js"></script>

