<h1>Sign up</h1>

	<a href="/" class="btn btn-primary">Home Page</a>
	<div class="well">
		<form action="/signup" method="POST" >
			<input name="name" placeholder="Name"></input>
			<input name="email" placeholder="Email"></input>
			<input type="password" name="password" placeholder="Password"></input>
			<button type="submit" class="btn btn-primary">Sign-up</button>
		</form>
	</div>