<div class="signUpContainer">
	<div class="well signUpBox">
		<form action="/signup" class="signUpForm" method="POST" >
			<div class="signupInfo">
				<input class="inputBox" name="name" placeholder="Name"></input>
				<input class="inputBox" name="email" placeholder="Email"></input>
				<input class="inputBox" type="password" name="password" placeholder="Password"></input>
				<input class="inputBox" type="password" name="confirmPassword" placeholder="Confirm Password"></input>
			</div>
			<button type="submit" class="signup-btn btn btn-primary">Sign-up</button>
		</form>
	</div>
</div>
