<!-- <div class="searchContainer">
	<form method="GET" action="/coffee" class="searchBox" role="search">
		<div class="search">
			<input id="demo" class="searchLocation" type="text" name="location" class="form-control" placeholder="Search your location">
		</div>
		<button id="search" type="submit" class="submitBTN btn btn-default crossRotate">Submit</button>
	</form>
</div>

<div class="coffee">
	<img class="coffee-img" src="../images/coffeeCup2.jpeg"/>
</div> -->
<form action="/login" method="get">
	<button class="btn back btn-primary" href="/index">Back</button>
</form>