<!-- <nav class="navUser navbar navbar-default" role="navigation"> -->
	<!-- Brand and toggle get grouped for better mobile display -->
	<!-- <div class="navbar-header">
		<a class="titleUser navbar-brand" href="#">Java-Expresso</a>
	</div> -->

	<!-- Collect the nav links, forms, and other content for toggling -->

<!-- 		<div class="favorites">
			<form action="/favorites" method="GET">
				<button class=" favoriteBTN crossRotate navbar">Favorites</button>
			</form>
		</div>

		<div class="logout">
			<form action="/users/logout" method="POST">
				<button class="logOutBTN crossRotate navbar">Log Out</button>
			</form>
		</div>
</nav> -->

<div class="searchContainer">
	<form method="GET" action="/coffee" class="searchBox" role="search">
		<div class="search">
			<input id="demo" class="searchLocation" type="text" name="location" class="form-control" placeholder="Search your location">
		</div>
		<button id="search" type="submit" class="submitBTN btn btn-default crossRotate">Submit</button>
	</form>
</div>

<div class="coffee">
	<img class="coffee-img" src="../images/coffeeCup2.jpeg"/>
</div>